<!-- Resources-->
<footer class="p-4 bg-light d-flex align-items-center justify-content-center">
    <p> {{ .Site.Taxonomies.tags }}</p>
    <ul>
        
    </ul>    
    <small class="mb-0 text-uppercase font-weight-bold mr-3">&copy; 2019-2020  Saisyam </small>
</footer>