<section class="py-5 header text-center">
    <div class="container">
        <header>
            <a href="/"><h1 class="display-3">Saisyam</h1></a>
            <p>
                <a href="https://www.linkedin.com/in/saisyam/"><i class="fab fa-linkedin" style="margin:.2em; font-size:28px;"></i></a>
                <a href="https://github.com/saisyam"><i class="fab fa-github" style="margin:.2em; font-size:28px;"></i></a>
                <a href="https://gitlab.com/saisyam"><i class="fab fa-gitlab" style="margin:.2em; font-size:28px;"></i></a>
                <a href="https://www.instagram.com/saisyamdampuri/"><i class="fab fa-instagram" style="margin:.2em; font-size:28px;"></i></a>
                <a href="https://twitter.com/Saisyam1"><i class="fab fa-twitter" style="margin:.2em; font-size:28px;"></i></a>
            </p>
        </header>
    </div>
</section>