{{ define "content" -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- horizontal_ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-0206245742790279"
        data-ad-slot="4247058858"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<div class="section-content">
    <article id="post-47"
        class="typology-post typology-single-post post-47 post type-post status-publish format-standard has-post-thumbnail hentry category-humans tag-noimages tag-typography tag-writing">
        <header class="entry-header">
            <h1 class="entry-title entry-title-cover-empty">{{ .Title }}</h1>
            <div class="entry-meta">
                <div class="meta-item meta-category">In 
                    {{ range .Params.categories}}
                    <a href="/categories/{{ . | urlize  }}"
                        rel="category">{{ . | humanize  }}</a></div>
                    {{ end }}
                <div class="meta-item meta-date"><span class="updated">{{ dateFormat "January 2, 2006" .Date }}</span></div>
                <div class="meta-item meta-comments"><a
                        href="https://demo.mekshq.com/typology/?p=47#comments">5 Comments</a></div>
            </div>
            <div class="post-letter">{{substr .Title 0 1}}</div>
        </header>
        <div class="entry-content clearfix">
            {{ .Content | safeHTML }}
            <div class="entry-tags">
                {{ range .Params.tags }}
                <a href="/tags/{{ . | urlize  }}" rel="tag">{{ . | humanize }}</a>
                {{ end }}
            </div>
        </div>

        <div class="meks_ess rectangle no-labels solid"><a href="javascript:void(0);"
                class="meks_ess-item socicon-facebook"
                data-url="http://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><span>Facebook</span></a><a
                href="javascript:void(0);" class="meks_ess-item socicon-twitter"
                data-url="http://twitter.com/intent/tweet?url={{ .Permalink }}"><span>Twitter</span></a><a
                href="javascript:void(0);" class="meks_ess-item socicon-reddit"
                data-url="http://www.reddit.com/submit?url={{ .Permalink }}"><span>Reddit</span></a>
        </div>
    </article>
    {{ template "_internal/disqus.html" . }}
</div>
{{ end }}