<div class="post">
  <div class="container wrapper">
    <div class="post-header">
      <h1 class="post-header__title">{{ .Title }}</h1>
      <div class="post-header__info">
        <div class="post-header__author">
          <a href="#">Saisyam</a>
        </div>
        <time class="post-header__date" datetime="{{ dateFormat " 2006-01-02" .Date | safeHTML }}">{{ dateFormat
          "2006-01-02" .Date }}</time>
        <div class="post-header__read-time">{{ .ReadingTime }} min read</div>
      </div>
    </div>
  </div>
  <div id="content" class="container wrapper">
    <div class="grid">
      <article class="col-xs-12 col-md-8">
        <div class="post-content">
          <img class="post-img lazyload initial loaded is-in-view" src="{{ .Params.image }}" />
          <div class="post-content__inner">
            {{ .Content }}
          </div>
        </div>
      </article>
      <aside class="col-xs-12 col-md-4">

        <div class="sidebar">

          <div class="sidebar__section">  
            <h5 class="sidebar__title">Sponsors</h5>
            <script async
              src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0206245742790279"
              crossorigin="anonymous"></script>
            <!-- vertical_ad -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0206245742790279"
              data-ad-slot="3209664571" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>