<header class="header">
  <div class="header-top">
    <a href="https://saisyam.com">
      <h1 class="header-top__title">
        <img class="lazyload header-top__logo initial loaded" src="/saisyam.png" data-src="saisyam.png"
          alt="Saisyam's Personal Website" data-was-processed="true">
      </h1>
    </a>
  </div>

  <div class="header-main">
    <div class="container wrapper">
      <div class="grid">
        <label for="menu--toggle" class="header-main__menu--toggle col-xs left">
          <i class="icon icon-menu icon--large">
            <svg class="icon__svg">
              <use xlink:href="#icon-menu">
                <symbol id="icon-menu" viewBox="0 0 24 24">
                  <line x1="3" y1="12" x2="21" y2="12"></line>
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <line x1="3" y1="18" x2="21" y2="18"></line>
                </symbol>
              </use>
            </svg>
          </i>
        </label>
        <input type="checkbox" id="menu--toggle" title="Menu" class="is-hidden">

        <nav class="header-main__menu nav col-sm top">
          <ul>
            <li>
              <a href="https://saisyam.com">Home</a>
            </li>
            <li>
              <a href="https://github.com/saisyam" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://linkedin.com/in/saisyam" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a href="https://medium.com/@saisyam" target="_blank">Medium</a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</header>