{{ define "content" }}
<section class="pb-5">
  <div class="container">
      <!-- Masonry grid -->
      <div class="gallery-wrapper">
          {{ $pages := .Pages }}
          {{ $paginator := .Paginate $pages }}
          {{ range $index, $element := $paginator.Pages }}
            <div class="card" style="margin-bottom: 2em;">
                <div class="card-body">
                <h2 class="card-title text-center">{{ .Title }}</h2>
                <h5 class="card-subtitle mb-2 text-muted text-center">{{ dateFormat "Jan 2, 2006" .Date }}</h5>
                <p class="card-text" style="font-size: 20px;">
                    {{ .Description | safeHTML }}
                </p>
                <div class="text-center">
                  <a href="{{ .Permalink }}" type="button" class="btn btn-primary"> Read More </a>
                </div>
                </div>
            </div>
            {{ end }}
      </div>
      <div class="center-pagination">
        {{ template "_internal/pagination.html" . }}
      </div>
      
  </div>
</section>

{{ end }}