{{ define "content" -}}

<section class="pb-5">
  <div class="container">
      <div class="col-lg-12 post">
          <h1 class="text-center">{{ .Title }}</h1>
          <hr />
          {{ .Content }}

          <div class="tagcloud06">
            <ul>
              {{ range .Params.tags }}
                  <li>
                    <a href="/tags/{{ . }}">{{ . | urlize }}</a>
                  </li>
              {{- end -}}
            </ul>
          </div>
      </div>
      {{ template "_internal/disqus.html" . }}
  </div>
</section>

<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": {{ .Title }},
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.github }}"
    },
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "description": {{ .Description }},
    "wordCount": {{ .WordCount }},
    "mainEntityOfPage": "True",
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "image": {
      "@type": "imageObject",
      "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Saisyam",
      "logo": {
        "@type": "imageObject",
        "url": "https://www.saisyam.com/favicon/favicon.ico"
      }
    }
  }
</script>

{{- end }}
