{{ define "content" }}
<div class="section-head">
    <h3 class="section-title h6">{{ .Title }}</h3>
</div>
<div class="section-content section-content-b">
    <div class="typology-posts">
        {{ $pages := (where .Site.RegularPages "Section" "==" "posts") }}
        {{ $paginator := .Paginate $pages }}
        {{ range $index, $element := $paginator.Pages }}
        <article class="typology-post typology-layout-b  post-47 post type-post status-publish format-standard has-post-thumbnail hentry category-humans tag-noimages tag-typography tag-writing">
			<header class="entry-header">
				<div class="post-date-hidden">{{ dateFormat "January 2, 2006" .Date }}</div>
					<h2 class="entry-title">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>
					<!--<div class="entry-meta">
					    <div class="meta-item meta-author">By 
                            <div class="coauthors">
                                <span class="vcard author">
                                    <span class="fn">
                                        <a href="https://demo.mekshq.com/typology?author_name=meks1">Madison Barnett</a>
                                    </span>
                                </span>
                            </div>
						</div>
						<div class="meta-item meta-rtime">2 Min Read</div>
						<div class="meta-item meta-comments">
                            <a href="https://demo.mekshq.com/typology/?p=47#comments">5 Comments</a>
                        </div>
					</div>-->
					<div class="post-date">
						<span class="post-date-day">{{ dateFormat "02" .Date }}</span><span class="post-date-month">{{ dateFormat "January" .Date }}</span>
					</div>
			</header>
			<div class="entry-content">
				{{ .Description | safeHTML }}
			</div>
        </article>
        {{ end }}
    </div>
    <div class="typology-pagination" >
        <nav class="navigation">
            {{ range .Paginator.Pagers }}
            {{ if eq .PageNumber $paginator.PageNumber }}
                <a style="min-width: 50px; background-color: black; color: white; font-size: medium;" href="#">{{ .PageNumber }}</a>
            {{ else }}
                <a style="min-width: 50px; border: 2px solid black; font-size: medium;" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
            {{ end }}
        </nav>
    </div>   
</div>
{{ end }}