{{ define "content" -}}

<div class="sub-title">
    <a href="/"><h2>Saisyam</h2></a>
</div>
<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">
        <div class="post-title">
            <h1>{{ .Title }}</h1> 
        </div>
        <div class="post-info">
            <span>{{ dateFormat "January 2, 2006" .Date }} | 
                {{ range .Params.categories}}
                    <a href="/categories/{{ . | urlize  }}"
                        rel="category">{{ . | humanize  }} </a>
                {{ end }}
            </span>
        </div>
        {{ if .Params.image }}
        <div class="post-image margin-top-40 margin-bottom-40">
            <img src="./blogimages/{{ .Params.image }}" alt="">                                      
           </div>
        {{ end }}

        {{ .Content | safeHTML }}

        <div class="nav" style="margin-top: 10px; text-align: left;">
            <h4>Tags:</h4><br />
            {{ range .Params.tags }}
                <a href="/tags/{{ . | urlize  }}" rel="tag">{{ . | humanize }}</a>
            {{ end }}
        </div>
    </div>
    
    {{ template "_internal/disqus.html" . }}
       
</div>
{{ end }}