{{ define "content" }}
<section class="pb-5">
  <div class="container text-center">
      <!-- Masonry grid -->
      <div class="gallery-wrapper">
          <h1>Tags</h1>
          <hr />
          <div class="tagcloud06">
              <ul>
                {{ $tags := $.Site.Taxonomies.tags.ByCount }}
                {{ $v1 := where $tags "Count" ">=" 1 }}
                {{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
                {{ range $v2 }}
                    {{ if .Term }}
                        <li><a href="/tags/{{ .Term }}/">{{ .Term | urlize }}</a></li>
                    {{ end }}
                {{ end }}
              </ul>
          </div>
      </div>
  </div>
</section>

{{ end }}