<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{ else }}
    <meta name="description" content="Saisyam's personal blog on programming, operating systems and tools ">
  {{ end }}
  <meta name="robots" content="index,follow" /> 
  <meta name="googlebot" content="index,follow" />
  <meta name="coverage" content="Worldwide" /> 
  <meta name="distribution" content="Global" /> 
  <meta name="HandheldFriendly" content="True" />
  <link rel="icon" href="/favicon/favicon.ico" />

  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/opengraph.html" . }}
  
  <title>{{ .Title }}</title>
  <base href="{{ .Site.BaseURL }}" />
  {{ partial "schema.html" . }}

  {{ partial "gfonts.html" . }}

  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="css/grids-responsive-min.css">
  <link rel="stylesheet" href="css/style.css">
  
  {{ template "_internal/google_analytics.html" . }}
</head>
<body>
  <div class="pure-g">
    {{ partial "sidebar-left.html" . }}
    <div class="content pure-u-1 pure-u-md-3-5">
      <div>
        {{ block "content" . }}{{ end }}
      </div>
    </div>
    {{ partial "sidebar-right.html" . }}
  </div>
  <script src="js/jquery.min.js"></script>
  <script>
    (function($) {
      $("div.gistify").each(function(){
	      var url = $(this).attr("data-url");
	      $(this).load(url);
      });
    })(jQuery);
  </script>  
</body>
</html>
