{{ define "content" -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal_ad -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-0206245742790279"
    data-ad-slot="4247058858"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="posts">
  <section class="post">
    <header class="post-header">

        <a href="{{ .Permalink }}"><h3 class="post-title">{{ .Title }}</h3></a>

        <p class="post-meta">
            <!--By <a class="post-author" href="#">Saisyam</a> under -->
            On <b>{{ dateFormat "Jan 2, 2006" .Date }}</b> under  
            {{ range .Params.categories}}
                <a class="post-category post-category-design" href="/categories/{{ . | urlize  }}">{{ . | humanize  }}</a>
            {{ end }}
        </p>
    </header>

    <div class="post-description">
        <p>
            {{ .Content | safeHTML }}
        </p>

        <ul class="tagcloud">     
          {{ range .Params.tags }}
              <a href="/tags/{{ . | urlize  }}">{{ . | humanize }}</a>
          {{ end }}
        </ul>
    </div>
  </section>
  {{ template "_internal/disqus.html" . }}
</div>
{{- end }}
