<div class="sidebar-right pure-u-1 pure-u-md-1-5">
    <div class="sidebar-box">
        <h3>Categories</h3>
        <ul class="categories">
            {{ range $key, $value := .Site.Taxonomies.categories }}
                <li><a href="/categories/{{ $key | urlize  }}">{{ $key | humanize }} <span>({{ len $value }})</span> </a></li>
            {{ end }}
        </ul>
    </div>
    <div class="sidebar-box">
        <h3>Tags</h3>
        <ul class="tagcloud">     
            {{ range $key, $value := .Site.Taxonomies.tags }}
                <a href="/tags/{{ $key | urlize  }}">{{ $key | humanize }}</a>
            {{ end }}
        </ul>
    </div>
</div>