<div class="sidebar-left pure-u-1 pure-u-md-1-5">
    
    <div class="header">
        <img width="100" height="100" alt="Saisyam" class="avatar" src="images/profile.jpg">
        <a href="/"><h1 class="brand-title">Saisyam</h1></a>
        <!--<h2 class="brand-tagline">Personal Blog</h2>-->

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="https://facebook.com/{{ .Site.Params.facebook }}"><img width="30" height="30" alt="saisyam facebook" src="images/facebook.svg" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/{{ .Site.Params.twitter }}"><img width="30" height="30" alt="saisyam twitter" src="images/twitter.svg" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/{{ .Site.Params.github }}"><img width="30" height="30" alt="saisyam github" src="images/github.svg" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://instagram.com/{{ .Site.Params.instagram }}"><img width="30" height="30" alt="saisyam instagram" src="images/instagram.svg" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}"><img width="30" height="30" alt="saisyam linkedin" src="images/linkedin.svg" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://youtube.com/{{ .Site.Params.github }}"><img width="30" height="30" alt="saisyam youtube" src="images/youtube.svg" /></a>
                </li>
            </ul>
        </nav>
    </div>
</div>