{{ define "content" }}
<section class="pb-5">
  <div class="container text-center">
      <!-- Masonry grid -->
      <div class="gallery-wrapper">
          <h1>Categories</h1>
          <hr />
          <div class="tagcloud06">
              <ul>
                {{ $cats := $.Site.Taxonomies.categories.ByCount }}
                {{ $v1 := where $cats "Count" ">=" 1 }}
                {{ range $v1 }}
                    {{ if .Term }}
                        <li><a href="/categories/{{ .Term }}/">{{ .Term | urlize }}</a></li>
                    {{ end }}
                {{ end }}
              </ul>
          </div>
      </div>
  </div>
</section>

{{ end }}