<header id="typology-header" class="typology-header" style="z-index: 9001; top: 0px;">
    <div class="container">
        <div class="slot-l">
            <div class="typology-site-branding">

                <h1 class="site-title h4"><a href="/" rel="home">Saisyam</a></h1>
            </div>

        </div>

        <div class="slot-r">
            <ul id="menu-main-menu" class="typology-nav typology-main-navigation"
                style="opacity: 1; position: relative;">
                <li id="menu-item-321"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-321">
                    <a href="/">Home</a>
                </li>
            </ul>
            <ul class="typology-nav typology-actions-list">
                <li id="action-button" class="typology-action-button typology-action-sidebar ">
                    <span>
                        <i class="fa fa-bars"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</header>