/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    min-height: 100vh; 
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box .text{
    display: inline-block;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 80%; 
}
h2 {
    border-bottom: solid 1px;
    border-color: darkgray;
    padding-top: 1em;
}
.center-pagination {
    text-align: center;
    display: inline-block; 
    width: auto; 
    margin: 0 auto;
}
a {
    color: black;
    outline: none;
}

a:hover {
    color: black;
    text-decoration: none; 
}

.post p {
    font-size: 23px;
}

.post li {
    font-size: 20px;
}

.highlight pre {
    padding: 0.8em;
    border: solid 3px;
    border-color: #f8f9fa;
}