<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Saisyam's personal blog">
  <meta name="robots" content="index,follow" /> 
  <meta name="googlebot" content="index,follow" />
  <meta name="coverage" content="Worldwide" /> 
  <meta name="distribution" content="Global" /> 
  <meta name="HandheldFriendly" content="True" />
  <link rel="icon" href="images/favicon.ico" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
   
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/opengraph.html" . }}
  
  <title>{{ .Title }}</title>
  <base href="{{ .Site.BaseURL }}" />
  {{ partial "schema.html" . }}
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" type="text/css" media="all">
</head>

<body>
  {{ partial "header.html" . }}
  <div id="content" class="site-content">
    <main id="main" class="site-main inner">
      {{ block "content" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>  

</html>
