{{ define "content" }}
    <div class="post-feed">
        {{ $pages := (where .Site.RegularPages "Section" "==" "posts") }}
        {{ $paginator := .Paginate $pages }}
        {{ range $index, $element := $paginator.Pages }}
        <article class="post">
            <header class="post-header">
            <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>
            <div class="post-meta">
                Published on <time class="published"
                datetime="{{ dateFormat "January 2, 2006" .Date }} ">{{ dateFormat "January 2, 2006" .Date }}</time>
            </div>
            </header><!-- .post-header -->
            {{ if .Params.image }}
            <a class="post-thumbnail" href="{{ .Permalink }}">
            <img class="thumbnail" src="./blogimages/{{ .Params.image }}" alt="{{ .Title }}" />
            </a>
            {{ end }}
            <div class="post-content">
            <p>{{ .Description | safeHTML }}</p>
            </div><!-- .post-content -->
            <p class="read-more">
            <a class="read-more-link" href="{{ .Permalink }}">Keep Reading <span class="icon-arrow-right" aria-hidden="true"></span></a>
            </p>
        </article><!-- .post -->
        {{ end }}
    </div>
    <nav class="pagination">
        <div class="nav-links">
            {{ range .Paginator.Pagers }}
                {{ if eq .PageNumber $paginator.PageNumber }}
                <a class="button" style="background: #666666; color: #fff;" href="#">{{ .PageNumber }}</a>
                {{ else }}
                <a class="button" href="{{ .URL }}">{{ .PageNumber }}</a>
                {{ end }}
            {{ end }}
        </div>
      </nav>
</div>
{{ end }}